.choose-plan-section {
  margin-top: 160px;
  align-items: center;
  width: 100%;
}

.choose-plan-text {
  text-align: center;
  line-height: 30px;
}
.plans {
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px;
  box-sizing: border-box;
}
.plan {
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  height: 700px;
  width: 270px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  cursor: pointer;
}
.plan:hover {
  border: 2px solid #ba55d3;
}
.plan:hover .plan-button {
  background: #ba55d3;
  color: #ffffff;
}
.plan-image {
  width: 200px;
  height: 200px;
}
.plan-head {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.plan-items {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}
.plan-item {
  margin-bottom: 19px;
  font-size: 14px;
  list-style-type: none;
}
.plan-item::before {
  content: url("../img/icons/green-check.png");
  padding-right: 15px;
}
.plan-button {
  border: 3px solid #ba55d3;
  box-sizing: border-box;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #ba55d3;
  font-weight: bold;
}
.plan-button:hover {
  background: #ba55d3;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  div.plans {
    padding: 0px;
  }
}
@media screen and (max-width: 900px) {
  div.plans {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  div.plan {
    margin: 15px 0px;
  }
}
