footer {
  margin-top: 80px;
  background: #f8f8f8;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  padding: 160px;
}
.footer-content {
  max-width: 1000px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-left {
  width: 40%;
}
.footer-left-text {
  line-height: 30px;
}
.copyright {
  color: #afb5c0;
}

.footer-sections {
  justify-content: space-between;
  width: 50%;
  margin-right: -30px;
}

.footer-column {
  justify-content: space-between;
  height: 180px;
}
.footer-column:last-child {
  height: 90px;
}
.footer-head {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  div.footer-content {
    flex-direction: column;
  }
  div.footer-left {
    width: 100%;
  }
  div.footer-sections {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 650px) {
  footer {
    padding: 50px 10vw;
  }
}
