a {
  text-decoration: none !important;
}
.open-menu,
.close-menu {
  display: none;
  font-size: 25px;
  margin: 10px;
  color: #ba55d3;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fcfcfc;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 9999;
  box-shadow: 0px 0px 65px -15px #572663;
}
.open-menu:hover,
.close-menu:hover {
  box-shadow: 0px 0px 55px -10px #572663;
}
div.small-nav-items {
  display: none;
}
.nav-container {
  height: 100px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.nav-items {
  justify-content: space-between;
}
.nav-item {
  margin: 0px 15px;
}
.nav-item:hover {
  color: #373b44;
}
.nav-actions {
  align-items: center;
}
.nav-action {
  padding: 7px 30px;
  text-decoration: none;
  font-weight: 500;
}
.sign-in {
  margin-right: 10px;
}
.sign-in:hover {
  color: #373b44;
}
.sign-up {
  border: 4px solid #ba55d3;
  border-radius: 4px;
}
.sign-up:hover {
  background-color: #ba55d3;
  color: #fcfcfc;
}
@media screen and (max-width: 800px) {
  nav.nav-container {
    margin-top: 50px;
  }
  span.open-menu,
  span.close-menu {
    display: flex;
  }
  a.nav-action {
    padding: 7px 22px;
    text-decoration: none;
  }
  div.nav-items {
    display: none;
  }
  div.small-nav-items {
    display: flex;
    position: fixed;
    right: -250px;
    top: 0px;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    padding: 40px 70px;
    box-shadow: 0px 0px 50px -30px #373737;
    width: 250px;
  }
  div.small-nav-items .nav-item {
    margin: 30px 0px;
  }
}
@media screen and (max-width: 450px) {
  a.peddle-logo {
    font-size: 25px;
    margin-left: -10px;
  }
  div.nav-actions {
    margin-right: -20px;
  }
  a.nav-action {
    padding: 5px 0px;
    width: 100px;
    text-align: center;
    margin: 0px;
  }
}
